.container {
	display: flex;
	flex-direction: column;
	padding: 0 150px;
}

.title {
	color: white;
	text-align: center;
	margin-top: 100px;
	font-size: 40px;
	text-transform: uppercase;
}

.secondTitle {
	font-size: 20px;
	margin-top: 50px;
	color: white;
	text-align: center;
}

.borderPosition {
	display: flex;
	justify-content: center;
	align-items: center;
}

.border {
	text-align: center;
	width: 30%;
	margin-top: 30px;
	border: 1px solid #5a3a3a;
}

form {
	margin: 20px auto 0 auto;
	display: grid;
	gap: 1px;
	grid-template-columns: repeat(2, 1fr);
}

.formStyle {
	margin: 0 auto;
	width: 60%;
}

input,
select {
	margin: 10px;
	padding: 10px;
	height: 43px;
}

textarea {
	grid-column: 1 / 3;
	margin: 10px;
	height: 90px;
	resize: none;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonStyle {
	width: 10%;
	border-radius: 5px;
	padding: 8px;
}

@media (max-width: 1024px) {
	.container {
		padding: 0;
	}
}

@media (max-width: 425px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.borderPosition {
		width: 100%;
	}

	.buttonStyle {
		width: 100%;
		border-radius: 5px;
		padding: 8px;
	}
}
