.container {
	padding: 0 150px;
}

.title {
	color: white;
	margin-bottom: 45px;
	text-transform: uppercase;
}

.titleParagraph {
	margin-bottom: 45px;
	color: white;
}

.imageContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.foodImages {
	width: 426px;
	height: 240px;
}
