.container {
	padding: 0 150px;
}

.title {
	color: white;
	margin-bottom: 45px;
	text-transform: uppercase;
}

.titleParagraph {
	margin-bottom: 45px;
	color: white;
}

.imageContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.foodImages {
	width: 426px;
	height: 240px;
}

@media (max-width: 1024px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		width: 100%;
	}

	.titleParagraph {
		width: 90%;
	}

	.imageContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
	}

	.foodImages {
		width: 100%;
		height: 350px;
	}
}

@media (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		width: 100%;
	}

	.titleParagraph {
		width: 90%;
	}

	.imageContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
	}

	.foodImages {
		width: 100%;
		height: 400px;
	}
}

@media (max-width: 425px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		width: 100%;
	}

	.titleParagraph {
		width: 90%;
	}

	.imageContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
	}

	.foodImages {
		width: 100%;
		height: 250px;
	}
}

@media (max-width: 375px) {
	.title {
		font-size: 28px;
	}

	.foodImages {
		width: 100%;
		height: 220px;
	}
}

@media (max-width: 320px) {
	.title {
		font-size: 24px;
	}

	.foodImages {
		width: 100%;
		height: 200px;
	}
}
