.container {
	width: 100%;
}

.starters {
	width: 600px;
	padding-left: 150px;
}

.title {
	color: white;
	text-transform: uppercase;
	margin-bottom: 24px;
	font-size: 40px;
	border-bottom: 1px solid #5a3a3a;
}

.list {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 36px;
}

.paragraph {
	margin-bottom: 16px;
	font-size: 18px;
}

.mainCourses {
	width: 800px;
	background-color: #241919;
	margin-top: 50px;
	padding: 50px;
	margin-left: auto;
}

@media (max-width: 1024px) {
	.container {
		padding: 0;
	}

	.starters {
		padding-left: 50px;
	}

	.mainCourses {
		width: 700px;
		margin-top: 50px;
		padding-left: 50px;
		margin-left: 0;
	}
}

@media (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.starters {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	.menuBg {
		width: 100%;
		background-color: #241919;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.mainCourses {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
		margin-bottom: 50px;
		padding: 0;
		margin-left: 0;
	}
}

@media (max-width: 425px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		width: 100%;
	}

	.starters {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	.menuBg {
		width: 100%;
		background-color: #241919;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.mainCourses {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
		margin-bottom: 50px;
		padding: 0;
		margin-left: 0;
	}
}

@media (max-width: 375px) {
	.title {
		font-size: 32px;
	}
}
