.container {
	width: 100%;
}

.starters {
	width: 600px;
}

.title {
	color: white;
	text-transform: uppercase;
	margin-bottom: 24px;
	font-size: 40px;
}

.list {
	list-style-type: none;
	color: white;
}

li {
	text-transform: uppercase;
	font-size: 36px;
}

p {
	margin-bottom: 16px;
	font-size: 18px;
}

.mainCourses {
	width: 800px;
	background-color: #1a1616;
	margin-top: 50px;
	padding: 50px;
	margin-left: auto;
}
